body{
	background: rgb(230, 230, 230);
	color: black;
	font-family:cursive;
	font-size: 16px;
}
h1{
	color: purple;
	font-family: sans-serif;
}
h2{
	font-weight: lighter;
}
a{
	color:blue;
}
